:root {
  --White-Color: #ffffff;
  --White-Low: #e4e6eb;
  --Body-Color: #f0f0f6;
  --Black: #18191a;
  --Black-One: #3a3b3c;
  --Black-Two: #242526;
  --Yellow-Color: #ffb300e1;
  --Yellow-low: #ffb400f2;
  --Paragraph-Color: #767676;
  --Paragraph-Size: 15px;
  --Paragraph-line-Height: 24px;
  --Paragraph-Weight: 400;
  --Heading-Color: #2b2b2b;
  --Heading-Size: 32px;
  --Heading-line-Height: 39px;
  --Heading-Weight: 600;
  --Bold-Text-Color: var(--Heading-Color);
  --Bold-Text-Size: 18px;
  --Bold-Text-Line-Height: 22px --Bold-Text-Weight: 500;
  --Continar-Width: 100%;
  --Continar-Height: 100%;
  --Transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.dark-var {
  --White-Color: #1c1c1c;
  --White-Low: #131313;
  --Body-Color: #131313;
  --Black: #ffffff;
  --Black-One: #ffffff;
  --Black-Two: #ffffff;
  --Yellow-Color: #ffb300e1;
  --Yellow-low: #ffb400f2;
  --Paragraph-Color: #ffffff;
  --Paragraph-Size: 15px;
  --Paragraph-line-Height: 24px;
  --Paragraph-Weight: 400;
  --Heading-Color: #ffffff;
  --Heading-Size: 32px;
  --Heading-line-Height: 39px;
  --Heading-Weight: 600;
  --Bold-Text-Color: var(--Heading-Color);
  --Bold-Text-Size: 18px;
  --Bold-Text-Line-Height: 22px --Bold-Text-Weight: 500;
  --Continar-Width: 100%;
  --Continar-Height: 100%;
  --Transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}